.container {
    position: relative;
    user-select: none;
    height: 32px;
    width: var(--control-width);
    border: 1px solid var(--border);
    background-color: var(--dropdown-bg);
    border-radius: var(--rad);
    cursor: pointer;
    font-size: 14px;
}

.dropContainer {
    position: absolute;
    top: 36px;
    background-color: var(--dropdown-bg);
    border: 1px solid var(--border);
    border-radius: var(--rad);
    min-width: var(--control-width);
    box-shadow: 0 4px 8px var(--shadow-dropdown);
    z-index: 1000;
    transform: translateX(-1px);
}

.activeOption {
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        //transition: transform 200ms;
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }
}

.activeOption:hover {
    background-color: var(--dropdown-bg-hover);
}

.placeholder {
    color: var(--text-placeholder);
}

.expanded {
    img {
        transform: rotate(90deg);
    }
}

.option {
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:hover {
    background-color: var(--dropdown-bg-hover);
}