
.bodiesTable {
    width: 100%;
    border: 1px solid var(--border);
    margin-top: 1.0rem;
}

.bodiesTable {
    border-collapse: collapse;

    .tableHeader {
        color: var(--label);
    }

    tr, td {
        border-collapse: collapse;
        border-bottom: 1px solid var(--border);
    }

    td {
        padding: 0.5rem 0.8rem;
        font-size: 0.7rem;
    }

    .selectedRow {
        background-color: var(--select);
    }
}