
.container {
    width: 100%;
    border: 1px solid var(--border);
    margin-top: 1.0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.body {
    padding: 0.5rem;
    color: var(--primary);
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.body:hover {
    background: var(--select);
    color: var(--primary);
}