.container {
    background-color: var(--tile-bg);
    border: 1px solid var(--border);
    box-shadow: 0 4px 8px var(--shadow-tile);
    border-radius: var(--rad);
    width: var(--control-width);
    padding: 12px;

    button {
        width: 100%;
    }
}