
.container {
    padding: 0.5rem 0 0 0.5rem;
}

.wrapper {
}

.meta {
    color: var(--border);
    display: inline-block;
    margin-right: 0.5rem;
}

.tag {
    color: var(--label);
    display: inline-block;
    margin-right: 0.5rem;
}

.content {
    display: inline-block;
}