
.container {

}

.wrapper {
}

.meta {
    color: var(--border);
    display: inline-block;
    margin-right: 0.5rem;
}

.tag {
    color: var(--label);
    display: inline-block;
    margin-right: 0.5rem;
}

.content {
    display: inline-block;
}