.container {
    //background-color: red;
}

.svgOuter {
    //background-color: white;
}

.sun {
    fill: var(--accent);
    stroke: none;
}

.planet {
    fill: var(--accent);
    stroke: none;
}

.path {
    stroke-width: 2px;
    stroke: var(--accent);
    fill: transparent;
}

.or_1 {
    animation: orbit 2s linear infinite;
    .planet {
        transform: translateX(-18px);
    }
}

.or_2 {
    animation: orbit 3s linear infinite;
    .planet {
        transform: translateX(36px);
        z-index: 10;
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}