@import "../../constants.css";

.footer > ul > li > a {
    text-decoration: none;
}

.footer > ul > li > a:hover {
    text-decoration: underline;
}

.footer {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
}

.footer > ul {
    padding: 0 1rem;
}

.footer > ul > li {
    display: inline;
    font-size: 0.7rem;
}

.footer > ul > li:not(:last-child) {
    margin-right: 2.5rem;
}