@import "./constants.css";

body {
    font-family: Menlo, source-code-pro, monospace, sans-serif;
    color: var(--primary);
    font-size: 0.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

html, body, h1, h2, h3, h4, p, a, div, li, ul {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 1.4rem;
}

h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 0.7rem;
}

a {
    color: var(--primary);
    text-decoration: underline;
}

a:visited {
    color: var(--primary);
}

ul {
    list-style-type: none;
}

li {
    padding-top: 0.2rem;
}
