@import "./constants.css";

/*Remove browser defaults*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', serif;
}

/*Set defaults*/

body {
    background-color: var(--app-bg);
    color: var(--text-body);
    font-size: 14px;
}

a {
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
}

a:visited {
    color: var(--accent-dark);
    text-decoration: none;
}

h1 {
    color: var(--text-title);
    font-size: 22px;
    font-weight: normal;
}

h2 {
    color: var(--text-secondary-title);
    font-size: 18px;
    font-weight: normal;
}

h3 {
    color: var(--text-title);
    font-size: 14px;
    font-weight: normal;
}

label {
    color: var(--text-label);
    font-size: 12px;
}

input {
    height: 32px;
    background-color: var(--input-bg);
    color: var(--text-body);
    border: 1px solid var(--border);
    outline: none;
    border-radius: var(--rad);
    font-size: 14px;
    padding-left: 10px;
    width: var(--control-width);
}

input[type=number] {
    width: calc(var(--control-width) / 2.5);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
